.card {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: .75rem;
    background: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 0;
    box-shadow: 0 1px 3px 0 #101010,0 0 0 1px #101010;
    
    a {
        color: #555;
    }
    
    .card-image {
        position: relative;
        width: 220px;
        min-height: 100px;
        background: #eee;

        .corner {
            position: absolute;
            background: #000;
            color: #fff;
            font-size: 10px;
            padding: 2px 4px;

            &.br {
                bottom: 0;
                right: 0;
            }
        }
    }

    .card-content {
        padding: 4px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }
}